#route-map {
  height: 80vh;
}

.panel-level {
  display: flex;
  justify-content: space-around;
}

.pannel-mobile-link {
  text-decoration: none;
  color: white;
  float: right;
}
.pannel-mobile-link:hover {
  color: white;
}

.waypoint-button {
  margin-left: auto;
}

.waypoint {
  justify-items: center;
}

.waypoint-form {
  margin-block-end: 0;
}
